{{ $itemTitle := .Page.Title }}
{{ $itemDescription := .Page.Description }}
{{ $itemID := $itemTitle | urlize }}
{{ $itemLink := .Page.RelPermalink }}

{{ $itemImage := "" }}
{{ $itemThumb := "" }}
{{ $logo := resources.Get "img/logo/logo.png" }}
{{ range first 1 (.Resources.ByType "image") }}
  {{ with .Fill "500x500" }}
    {{ $itemImage = . }}
    {{ if $logo }}
      {{ $watermark := $logo.Resize "x100" }}
      {{ $itemImage = $itemImage.Filter (images.Overlay $watermark (sub $itemImage.Width $watermark.Width) (sub $itemImage.Height $watermark.Height)) }}
      {{ $itemImage = $itemImage | resources.Copy (printf "%s" $itemImage.RelPermalink) }}
    {{ end }}
  {{ end }}

  {{ with .Fill "250x250" }}
    {{ $itemThumb = . }}
    {{ if $logo }}
      {{ $watermark := $logo.Resize "x25" }}
      {{ $itemThumb = $itemThumb.Filter (images.Overlay $watermark (sub $itemThumb.Width $watermark.Width) (sub $itemThumb.Height $watermark.Height)) }}
    {{ end }}
  {{ end }}
{{ end }}

<li class="portfolio-item">
  {{/* Use <a> instead of <button> for href, maintains functionality for no-javascript browsers. */}}
  <a href="{{ $itemLink }}" class="btn collapsed" data-bs-toggle="collapse" data-bs-target="#{{ $itemID }}" aria-expanded="false">
    {{ if $itemThumb }}
      <img src="{{ $itemThumb.RelPermalink }}" alt="{{ $itemTitle }}" />
    {{ end }}
  </a>
  {{/* Portfolio Content */}}
  <div id="{{ $itemID }}" class="portfolio-content collapse fade" data-bs-parent="#portfolio">
    <div class="og-close" data-bs-toggle="collapse" data-bs-target="#{{ $itemID }}">{{ partial "icon" "x" }}</div>
    <div class="row bg-body-secondary">
      <div class="col-lg-5 offset-lg-1 col-md-12">
        {{ if $itemImage }}
          <img data-img-src="{{ $itemImage.RelPermalink }}" alt="{{ $itemTitle }}" />
        {{ end }}
      </div>
      <div class="col-lg-6 col-md-12 text-start">
        <h3>{{ $itemTitle }}</h3>
        <p class="lead">{{ $itemDescription }}</p>
      </div>
    </div>
  </div>
</li>

